* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    background-repeat: none;
    color: #2d2d2d
}

#particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#hero__heading1 {
    width: 800px;
    margin-top: 150px;
}

#hero__heading2 {
    margin-top: 50px;
}

#hero__location-icon {
    height: 60px;
    width: 60px;
    margin: 35px 5px 0 20px;
}

#hero__location {
    margin-top: 45px;
}

#hero__paragraph1 {
    margin-top: 50px;
}

/* Blue: #1263AD */
/* Blue Gradient: linear-gradient(to bottom right ,#5891C5, #094c89); */